@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    background-color: whitesmoke;
    background-image: url(images\ \(2\).jpg);
}
.active-days {
    background-color: rgb(87, 87, 25) !important;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.active-done-icon {
    background-color: rgba(112, 188, 71, 1);
    border-radius: 7px;
    background-size: cover;
}
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.my-3 {
    animation: slide-up 0.5s ease-out;
}
.days-cont div{
    background-color: rgb(178, 178, 23);
    background-position: center;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-top: 1%;
    cursor: pointer;
    margin-left: 1%;
}
.days-cont {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
}
#add-task {
    position: fixed;
    color: white;
    background-color:  rgb(178, 178, 23);
    font-size: 3rem;
    border-radius: 50px;
    width: 75px;
    justify-content: center;
    border: none;
    padding-bottom: 6px;
    bottom: 5%;
    left: 50%;
    z-index: 10;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
}
}
#add-task-page {
    position: absolute;
    background-color: rgb(223, 223, 184);
    display: none;
    width: 90%;
    left: 5%;
    top: 10%;
    padding: 5%;
    border-radius: 5px;
    animation: fadeUp 0.3s ease-out forwards;
    align-items: center;
    justify-content: center;
}
.btn, .btn-primary, .w-100 {
    background-color: rgb(178, 178, 23);
}
#sun-tasks {
    display: none;
}
#mon-tasks {
    display: none;
}
#tues-tasks {
    display: none;
}
#wed-tasks {
    display: none;
}
#thur-tasks {
    display: none;
}
#fri-tasks {
    display: none;
}
#sat-tasks {
    display: none;
}
#no-tasks {
    font-size: 2rem;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
#all-tasks-vew {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    background-color: rgb(177, 175, 47);
    margin: 5%;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
#all-tasks-vew:hover {
    background-color: rgb(87, 87, 25);
}
#all-tasks {
    display: none;
}
.active-allTasksVew {
    background-color: rgb(87, 87, 25) !important;
    
}
#all-tasks {
    background-color: red;
}
.task-manager {
    width: 100%;
    font-size: 1.7rem;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: hwb(61 3% 15% / 0.965);
    align-content: center;
}
#hide-add-task-page {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    top: 1%;
    left: 1%;
    font-family: 'Poppins', sans-serif;
}
#hide-add-task-page:hover {
    background-color: rgb(168, 34, 34);
}
@media (min-width: 431px)and  (max-width: 600px) {
.days-cont {
    margin: 5%;
}
.days-cont div {
    font-size: 1.6rem;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.days-cont div {
    font-size: 2rem;
}
.task-manager {
    font-size: 1.5rem;
}
#add-task-page {
font-size: 2.5rem;
padding: 10%;
white-space: nowrap;
}
}
@media (min-width: 901px) {
.days-cont div {
    font-size: 2rem;
}
#add-task-page {
font-size: 2rem;
}
}
